snippet h1
	# ${1:n} #
snippet h2
	## ${1:n} ##
snippet h3
	### ${1:n} ###
snippet c
	{% highlight ${1:n} %}

	${2:n}

	{% endhighlight %}
snippet ic
	\`${1:n}\`
snippet b
	* ${1:n}
	* ${2:n}
	* ${3:n}
snippet bb
	** ${1:n}
	** ${2:n}
	** ${3:n}
snippet l
	1. ${1:n}
	1. ${2:n}
	1. ${3:n}
snippet blockquote
	> ${1:n}
	> ${2:n}
	> ${3:n}
snippet image
	![${1:text}](${2:url}"${3:alt}")
snippet bf
	__${1:n}__
snippet it
	_${1:n}_
snippet lk
	[${1:text}](${2:url} "$1")
snippet hr
	***
