[submodule "plugins/ack.vim"]
	path = plugins/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "plugins/ctrlp.vim"]
	path = plugins/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins/delimitMate"]
	path = plugins/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "plugins/html5-syntax.vim"]
	path = plugins/html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "plugins/vim-markdown-folding"]
	path = plugins/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "plugins/vim-notes"]
	path = plugins/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "plugins/vim-speeddating"]
	path = plugins/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "plugins/vim-surround"]
	path = plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/tabular"]
	path = plugins/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "plugins/tocdown"]
	path = plugins/tocdown
	url = https://github.com/matthias-guenther/tocdown.git
[submodule "plugins/vim-css3-syntax"]
	path = plugins/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "plugins/vim-endwise"]
	path = plugins/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "plugins/vim-less"]
	path = plugins/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "plugins/vim-markdown"]
	path = plugins/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "plugins/vim-ruby"]
	path = plugins/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "plugins/vim-slime"]
	path = plugins/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "plugins/vim-ruby-refactoring"]
	path = plugins/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "plugins/ri.vim"]
	path = plugins/ri.vim
	url = https://github.com/danchoi/ri.vim.git
[submodule "plugins/vim-gutter"]
	path = plugins/vim-gutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugins/vim-gnupg"]
	path = plugins/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "plugins/vim-multiple-cursors"]
	path = plugins/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "plugins/vim-misc"]
	path = plugins/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/Yankring.vim"]
	path = plugins/Yankring.vim
	url = https://github.com/matthias-guenther/YankRing.vim.git
[submodule "plugins/snipmate.vim"]
	path = plugins/snipmate.vim
	url = https://github.com/matthias-guenther/snipmate.vim.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/autotag.vim"]
	path = plugins/autotag.vim
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "plugins/l9"]
	path = plugins/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "plugins/vim-autocomplete"]
	path = plugins/vim-autocomplete
	url = https://github.com/matthias-guenther/vim-autocomplete.git
